 html,
 body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    left: 1.8em;
    color: #666;
}
.imgBg1 {
    background: url("https://github.com/monnibhadu123/Text-area-HTML-Layout-Header-Nav-Section-Aside-Footer---Post-Class---HTML---CSS-Mini-Project-/blob/master/background.img.jpg");
    min-height: 100%;
    
}
.imgBg2{
    background-image: url('./images/background.img1.jpg');
    min-height: 600px;
}
.imgBg3{
    background-image: url(./images/img3.jpg);
    min-height: 600px;

}
.imgBg4{
    background-image: url(./images/img4.jpg);
    min-height: 600px;
}
.imgBg5{
    background-image: url(./images/img5.jpg);
    min-height: 600px;
}
.imgBg6{
    background-image: url('./images/img6.jpg');
    min-height: 300px;
}
.imgBg1,
.imgBg2,
.imgBg3,
.imgBg4,
.imgBg5,
.imgBg6{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}
.text{
    height: 50vh;
    display: flex;
    flex: 0 1 40vw; 
    justify-content: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;

}
.text h2{
    color: rgba(233, 225, 225, 0.719)
}

h1{
    font-weight: 600;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}
h2{
    font-weight: 500;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0.8%;
}

.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: #dfd9d970;
    color: #666;
}
.section-dark{
    background-color: rgba(0, 0, 0, 0.459);
    color: #fff;
}


footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: rgb(255, 255, 255);

}
footer h3{
    font-size: 3rem;
    margin-top: 2%;
}
